<!--
  ~ Copyright (C) 2022 Benjamin Marwell
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~         http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<server description="diceroll">
  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>mpConfig-2.0</feature>
    <feature>cdi-2.0</feature>
    <feature>jsonb-1.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>

  <httpEndpoint
    id="defaultHttpEndpoint"
    host="127.0.0.1"
    httpPort="${default.http.port}"
    httpsPort="-1"
    protocolVersion="http/2"
  >
    <accessLogging
    />
  </httpEndpoint>

  <httpOptions
    removeServerHeader="true"
  />
  <httpDispatcher
    enableWelcomePage="false"
  />
  <httpSession
    idLength="32"
    cookieHttpOnly="true"
    cookieSecure="true"/>

  <sslDefault
    sslRef="defaultSSLConfig"
    outboundSSLRef="defaultSSLConfig"
    httpHostNameVerification="true"
  />
  <ssl
    id="defaultSSLConfig"
    keyStoreRef="defaultKeyStore"
    securityLevel="HIGH"
    sslProtocol="TLSv1.3"
    verifyHostname="true"
  />
  <keyStore
    id="defaultKeyStore"
    password="changeit"
  />

  <webContainer
    skipMetaInfResourcesProcessing="true"
  />

  <cdi12
    enableImplicitBeanArchives="false"
  />
  <applicationMonitor
    updateTrigger="mbean"
  />
  <webApplication
    location="${app.filename}.war"
    contextRoot="${app.context.root}"
  />
</server>
